@implements IDisposable

@inject BoardService BoardService
@inject UserInterface Ui
@inject BoardTransformService BoardTransform

<td class="board-cell" @onclick="CellClicked">
    <div class="@CellCss">
        @if(PawnOnCell.HasValue)
        {
            <div style="@pawnStyle" class="@(PawnOnCell.Value.PawnCss)" title="@(PawnOnCell.Value.Label)">
                @(PawnOnCell.Value.Label)
            </div>
        }
    </div>
</td>

@code 
{
    [Parameter]
    public uint Row { get; set; }

    [Parameter]
    public uint Column { get; set; }

    private CellLocation Location => ((int)Column, (int)Row);

    private string pawnStyle = string.Empty;

    public Pawn? PawnOnCell { get; private set; }

    public string CellCss { get; private set; } = "board-cell-mark";    

    protected override void OnInitialized()
    {
        BoardService[Location].CellMarked += MarkCell;
        BoardService[Location].PawnPlaced += PlacePawn;
        BoardTransform.TransformationChanged += Rotate;
    }

    private void CellClicked()
    {
        Ui.Click(Location);
    }

    private async Task MarkCell(MarkOptions option)
    {
        await InvokeAsync(() =>
        {
            string baseStr = "board-cell-mark ";

            switch(option)
            {
                case MarkOptions.None:
                    CellCss = baseStr;
                    break;
                case MarkOptions.Selectable:
                    CellCss = baseStr + "selectable-color";
                    break;
                case MarkOptions.Selected:
                    CellCss = baseStr + "selected-color";
                    break;
                case MarkOptions.Moveable:
                    CellCss = baseStr + "moveable-color";
                    break;
                case MarkOptions.Attackable:
                    CellCss = baseStr + "attackable-color";
                    break;
                case MarkOptions.Minable:
                    CellCss = baseStr + "mineable-color";
                    break;
                default:
                    CellCss = "board-cell-mark bg-info";
                    break;
            }

            StateHasChanged();
        });
    }

    private async Task PlacePawn(int playerColor, bool battery, string pawnDescription)
    {
        await InvokeAsync(() =>
        {
            PawnOnCell = new()
            {
                Color = playerColor,
                IsBattery = battery,
                Label = pawnDescription,
            };

            StateHasChanged();
        });
    }

    private async Task Rotate(int zoom, bool horizontal)
    {
        await InvokeAsync(() =>
        {
            if (horizontal)
                pawnStyle = "transform-origin: center; transform: rotate(-90deg)";
            else
                pawnStyle = string.Empty;

            StateHasChanged();
        });
    }

    public void Dispose()
    {
        BoardService[Location].CellMarked -= MarkCell;
        BoardService[Location].PawnPlaced -= PlacePawn;
        BoardTransform.TransformationChanged -= Rotate;
    }

    public struct Pawn
    {
        public string? Label { get; set; }

        public int Color { get; set; }

        public bool IsBattery { get; set; }

        public string PawnCss
        {
            get
            {
                string result = $"pawn pawn-" + (Color == 0 ? "yellow" : "blue");

                if (Label is null)
                    result += (IsBattery ? "-art" : "-ship");

                return result;
            }
        }
    }
}
